* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caja {
  height: 200px;
  width: 200px;
  background-color: brown;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ESTA MEDIDA ES CONOCIDA CM SM EN EL MUNDO DEL DESARROLLO */
@media (min-width: 640px) {
  .caja {
    background-color: blueviolet;
    color: cyan;
    font-size: 70px;
  }
}
/* ESTA MEDIDA ES CONOCIDA CM MD EN EL MUNDO DEL DESARROLLO */
@media (min-width: 768px) {
  .caja {
    background-color: bisque;
    color: blue;
    font-size: 30px;
  }
}
/* ESTA MEDIDA ES CONOCIDA CM LG EN EL MUNDO DEL DESARROLLO */
@media (min-width: 1024px) {
  .caja {
    background-color: chartreuse;
    color: red;
    font-size: 40px;
  }
}
/* ESTA MEDIDA ES CONOCIDA CM XL EN EL MUNDO DEL DESARROLLO */
@media (min-width: 1280px) {
  .caja {
    background-color: blue;
    color: white;
    font-size: 100px;
  }
}
/* ESTA MEDIDA ES CONOCIDA CM 2XL EN EL MUNDO DEL DESARROLLO */
@media (min-width: 1536px) {
  .caja {
    background-color: red;
    color: white;
    font-size: 150px;
  }
}
