* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-cajas {
  border: 2px red solid;
  height: 600px;
  width: 200px;
  position: relative;
}
.caja {
  height: 100px;
  width: 100px;
  color: white;
}
.caja1 {
  background-color: brown;
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 10;
}
.caja2 {
  background-color: darkblue;
}
.caja3 {
  background-color: crimson;
}
.caja4 {
  background-color: darkgreen;
  position: absolute;
  left: 100px;
  top: 150px;
  z-index: 20;
}
.caja5 {
  background-color: blueviolet;
}
