/* #formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contenedor {
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.contenedor-caja12 {
  display: flex;
  gap: 10px;
}
.caja {
  background: blue;
  color: white;
  height: 100px;
  width: 100px;
  margin: 10px;
}
.caja3 {
  background-color: blue;
  color: white;
  height: 100px;
}

/* 
    el secretario de su barrio necesita su ayuda, el requiere q puedan crear
    un formulario para q los miembros puenda cordinar una noche de hogar
    con los misioneros
    este formualario debera tener
    apellido de la familia
    cantidad de miembros de la familia
    un dropdwn con posibles llamamientos 
    y un input para la fecha y hora q se llevara a cabo la noche de hogar
*/
