* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgb(0, 0, 39);
  display: flex;
  align-items: center;
  justify-content: center;
}
#formulario {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1px 16px;
  border-radius: 8px;
  width: 550px;
}
#titulo {
  background-color: rgb(174, 17, 17);
  color: white;
  padding: 4px 8px;
  font-weight: normal;
  font-size: 23px;
  width: 250px;
}
label {
  font-weight: bold;
}
.contenedor-date {
  display: flex;
  align-items: center;
  gap: 12px;
}
.date-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}
.contenedor-zona {
  display: flex;
  gap: 8px;
}
.contenedor-zona1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.contenedor-botones {
  display: flex;
  gap: 16px;
}
.contenedor-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.caja-grande {
  transform: scale(1.8);
}
.contenedor-botones2 {
  width: 100%;
  display: flex;
}
button {
  width: 50%;
  height: 35px;
  color: white;
  border: none;
}
.btn1 {
  background-color: #90adc1;
}
.btn2 {
  background-color: rgb(116, 137, 153);
}
